/* entire container, keeps perspective */

.flip-container {
  perspective: 1000px;
  cursor: pointer;
  perspective: 800px;
  margin: auto;
  transition: ease-in;
}

/* flip the pane when hovered */

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
  font-family: "Times New Roman";
  display: table;
}

/* flip speed goes here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border: 1px solid #300;
  border-radius: 20px;
}

/* front pane, placed above back */

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-color: aliceblue;
}

/* back, initially hidden pane */

.back {
  transform: rotateY(180deg);
  background-color: #eee;
}

.question, .answer {
  color: #333;
  font-size: 15em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: perspective(1px) translateY(-60%) translateX(-50%);
}

.eng {
 font-size: 0.25em;
}

.han {

}

.pin {

}
